[submodule "submodules/tutorial-hxs-common"]
	path = submodules/tutorial-hxs-common
	url = https://github.com/eccelerators/tutorial-hxs-common.git
[submodule "submodules/simstm"]
	path = submodules/simstm
	url = https://github.com/eccelerators/simstm.git
[submodule "submodules/vhdl-eccelerators-basic-package"]
	path = submodules/vhdl-eccelerators-basic-package
	url = https://github.com/eccelerators/vhdl-eccelerators-basic-package.git
[submodule "submodules/vhdl-eccelerators-basic-components"]
	path = submodules/vhdl-eccelerators-basic-components
	url = https://github.com/eccelerators/vhdl-eccelerators-basic-components.git
